*{
    margin: 0;
    padding: 0;
}
section{
    background-image: url(https://production.na01.natura.com/on/demandware.static/-/Sites-NatChile-Library/default/dw936632a1/NE%20Chile/Categorias/Cuidados%20Diarios/Body%20Splash/body_splash_n2_desktop.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.izq{
    background-color: whitesmoke;
    width: 500px;
    margin: 40px 0 20px;
    padding: 20px;
}
.der{
    margin: 0 20px 20px;
}
button{
    background-color: rgba(176, 61, 49);
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    }
h1{
    font-weight: 800;
    color: black;
    margin: 25px;
}

body{ 
    font-family: "Plus Jakarta Sans";
    font-weight: 200;
    font-style: normal;
    line-height: 1.3;
}